{{#each cards}}
	<li class="card" id="{{@index}}-card">
		<div class="card-box">
			<div class="title">{{title}}</div>
			<div class="desc">{{{desc}}}</div>

			<div class="status {{status}}">{{status}}</div>
			<div class="due-date">{{{formatDueDate due}}}</div>
			<div id="{{@index}}-timer" class="timer">
				{{debug timer}}
				<input type="text" name="timer" placeholder="00:00:00" value="{{timer.0.hr}}:{{timer.0.min}}:{{timer.0.sec}}" readonly="readonly">
				<button class="start_stop start" onclick="timer.start_stop('{{@index}}-timer')">&plus;</button>
			</div>

			<div class="card_options_menu">
				<button class="card-edit" onclick="cards.edit({{@index}})"><span class="icon-edit icon-large"></span></button>
				{{#if issue}}
				<button class="card-issue" onclick="redmine.issue({{issue}})"><span class="icon-asterisk icon-large"></span></button>
				{{/if}}
				<button class="card-checklist" onclick="checklist.view({{@index}}, this)"><span class="icon-list-alt icon-large"></span><span class="tasks-count">{{checklist.length}}</span></button>
				<button class="card-timesheet" onclick="timesheet.view({{@index}})"><span class="icon-time icon-large"></span></button>
				<button class="card-delete" onclick="cards.delete({{@index}})"><span class="icon-trash icon-large"></span></button>
			</div>
		</div>
	</li>
{{/each}}

