{{#each cards}}
	<li class="card" id="{{@index}}-card">
		<div>
			<div class="title">{{title}}</div>

			<div id="{{@index}}-timer" class="timer">
				<button class="start_stop start" onclick="timer.start_stop('{{@index}}-timer')">&plus;</button>
				<input type="text" name="timer" placeholder="00:00:00" value="" readonly="readonly">
			</div>

			<div class="page">{{page}}</div>
			<div class="issue">{{issue}}<button class="issue_view" onclick="redmine.issue({{issue}})">&rsaquo;</button></div>
			<div class="desc">{{desc}}</div>

			<div class="card_options_menu">
				<button class="card-edit" onclick="cards.edit({{@index}})">edit</button>
				<button class="card-delete" onclick="cards.delete({{@index}});">delete</button>
			</div>

		</div>
	</li>
{{/each}}