	<div class="loading"></div>
	<div class="data subject">{{issue.subject}}</div>
	<div class="data author" data-id="{{issue.author.id}}">{{issue.author.name}}</div>
	<div class="data assigned_to" data-id="{{issue.assigned_to.id}}">{{issue.assigned_to.name}}</div>
	<div class="data created">{{issue.created_on}}</div>
	<div class="data status" data-id="{{issue.status.id}}">{{issue.status.name}}</div>
	<div class="data tracker" data-id="{{issue.tracker.id}}">{{issue.tracker.name}}</div>
	<div class="data description">{{{issue.description}}}</div>
	<div class="data journal">
		{{#each issue.journals}}
		<div class="journal_item">
			<h1>{{issue.journals.user.name}}</h1>
			<h2>{{issue.journals.created_on}}</h2>
			<p>{{issue.journals.notes}}</p>
		</div>
		{{/each}}
	</div>
	<div class="update-issue">
		<div>
			<textarea id="redNotes" placeholder="notes"></textarea>
		</div>
		<div>
			<select id="redUsers"></select>
			<select id="redStatus"></select>
			<button type="button" onclick="redmine.update({{issue.id}});">Update</button>
		</div>
	</div>
	<button class="close-issue" onclick="redmine.close();">&times;</button>
<script>
	var cur = '',
		opt = '',
		$assigned = $('.assigned_to').data('id');

	for (x in redmine.users) {
		cur = redmine.users[x];
		opt += '<option value="' + cur.id + '">' + cur.firstname + ' ' + cur.lastname + '</option>';
	}

	$('#redUsers').html(opt);
	$('#redUsers option[value="' + $assigned + '"]').attr('selected', true);

	opt = '';
	cur = '';
	for (x in redmine.statuses) {
		cur = redmine.statuses[x];
		opt += '<option value="' + cur.id + '">' + cur.name + '</option>';
	}
	$('#redStatus').html(opt);
	/*
				$('#redmine_issue .subject').html(d.subject);
				$('#redmine_issue .author').html(d.author.name);
				$('#redmine_issue .assigned_to').html(d.assigned_to.name);
				$('#redmine_issue .created').html(d.created_on);
				$('#redmine_issue .status').html(d.status.name);
				$('#redmine_issue .tracker').html(d.tracker.name);
				$('#redmine_issue .description').html(d.description);

				for (var x in d.journals) {
					var cur = d.journals[x];
				}
				$('#redmine_issue .journal').html(cur_out);


	 */
</script>