<div class="loading"></div>
{{debug}}
<div class="data subject">{{issue.subject}}</div>
<div class="data author" data-id="{{issue.author.id}}">{{issue.author.name}}</div>
<div class="data assigned_to" data-id="{{issue.assigned_to.id}}">{{issue.assigned_to.name}}</div>
<div class="data created">{{issue.created_on}}</div>
<div class="data status" data-id="{{issue.status.id}}">{{issue.status.name}}</div>
<div class="data tracker" data-id="{{issue.tracker.id}}">{{issue.tracker.name}}</div>
<div class="data description">{{{issue.description}}}</div>

<div class="data journal">
	{{#each issue.journals}}
	<div class="journal_item">
		<h1>{{user.name}}</h1>
		<h2>{{created_on}}</h2>
		<h3>Details</h3>
		{{{formatIssueDetail details}}}
		<h3>Notes</h3>
		<p>{{notes}}</p>
	</div>
	{{/each}}
</div>


<div class="update-issue">
	<button class="update-button" onclick="redmine.issueNote();"></button>
	<form action="issue.hbs" method="post" accept-charset="utf-8">
		<div>
			<textarea id="redNotes" placeholder="notes"></textarea>
		</div>
		<div>
			<label for="redUsers">assigned to</label><select id="redUsers"></select>
		</div>
		<div>
			<label for="redStatus">status</label><select id="redStatus"></select>
		</div>
		<button type="button" onclick="redmine.update({{issue.id}});">save</button>
	</form>
</div>

<button class="close-issue" onclick="redmine.close();">&times;</button>

<script>
	var cur = '',
		opt = '',
		$assigned = $('.assigned_to').data('id');

	for (x in redmine.users) {
		cur = redmine.users[x];
		opt += '<option value="' + cur.id + '">' + cur.firstname + ' ' + cur.lastname + '</option>';
	}

	$('#redUsers').html(opt);
	$('#redUsers option[value="' + $assigned + '"]').attr('selected', true);

	opt = '';
	cur = '';
	for (x in redmine.statuses) {
		cur = redmine.statuses[x];
		opt += '<option value="' + cur.id + '">' + cur.name + '</option>';
	}
	$('#redStatus').html(opt);
</script>